* {
    margin: 0;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgba(238, 238, 238, 0.712);
    width: 100%;
    height: 100%;
    text-align: center;
}

.titleCardNotifications {
    width: 100%;
    height: 150px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.199);
    position: fixed;
    z-index: 1;
}

.titleCardNotifications h1 {
    font-weight: lighter;
    font-size: 58px;
    color: rgb(152, 121, 197);
    height: fit-content;
    width: fit-content;
    position: relative;
    left: 95px;
    top: 40px;
}