node_modules
databases/*
.DS_Store
connect-session-knex.sqlite
.env

static/assets/uploads/image/avatar/**.png
static/assets/uploads/image/avatar/**.jpg
static/assets/uploads/image/avatar/**.jpeg
static/assets/uploads/image/avatar/**.gif

static/assets/uploads/image/banner/**.png
static/assets/uploads/image/banner/**.jpg
static/assets/uploads/image/banner/**.jpeg
static/assets/uploads/image/banner/**.gif

static/assets/uploads/image/drinks/**.png
static/assets/uploads/image/drinks/**.jpg
static/assets/uploads/image/drinks/**.jpeg
static/assets/uploads/image/drinks/**.gif

static/assets/uploads/image/tags/**.png
static/assets/uploads/image/tags/**.jpg
static/assets/uploads/image/tags/**.jpeg
static/assets/uploads/image/tags/**.gif