* {
    font-family: "Roboto";
}

html {
    min-height: 100%;
    background-color: #EFEFEF;
} 


/* EDIT START */


.page-header {
    background-color: white;
    /*opacity: 0.5;/**/
    height: 150px;
    max-width: 100%;
    padding-left: 80px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.199);
    /*position: fixed;/**/
    z-index: 2;
    /*border: dotted blue;/**/
}

.page-header span {
    color: #9879C5;
    font-size: 60px;
    font-weight: 500;
    line-height: 150px;
    vertical-align: middle;
}

.page-header img {
    margin-right: 5%;
    /*border: dotted black;/**/
    line-height: 150px;
    vertical-align: middle;
}

#banner {
    /*margin-top: 157px;/**/
    height: 300px;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    /*border-bottom-left-radius: -20px;
    border-bottom-right-radius: -20px;*/
    /*border: dotted 5px greenyellow;/**/
}

#profilePic {
    height: 225px;
    width: 225px;
    border: 10px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    position: relative;
    bottom: 130px;
    z-index: 2;
}

.edit {
    /*margin-top: -5%;/**/
    background-color: white;
    /*border: dotted pink;/**/
    height: 100%;
    width: 100%;
    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;*/
    z-index: 1;
}

#edit {
    /*margin-left: 5%;/**/
    font-size: 38px;
    justify-content: center;
}

.text-input {
    margin-left: 5%;
}

.label {
    font-size: 38px;
}

input {
    width: 94%;
    height: 80px;
    display: block;
    object-position: center;
}

input[type=text] {
    font-size: 35px;
    border-radius: 10px;
    border: solid 2px #C1C1C1;
}

textarea {
    font-size: 18px;
    border-radius: 10px;
    width: 94%;
    height: 270px;
    border: solid 2px #C1C1C1;
}

input[type=submit] {
    margin-top: 20%;
    font-size: 35px;
    width: 95%;
    background-color: #9879C5;
    color: white;
    border: none;
    border-radius: 10px;
}

.edit-input {
    padding-left: 20px;
}


input[type=file] {
    display: none;
    height: fit-content;
    width: fit-content;
    margin: 0;
    
}
/*
#imgInputBanner {
    position: absolute;
    top: 15%;
    right: 47%;
    opacity: 0.8;
}*/


.banner {
    position: relative;
}

#upload-banner {
    width: 100px;
    
    position: absolute;
    bottom: 30%;
    right: 45%;
    z-index: 3;
}

.pfp {
    position: relative;
    height: 175px;
}

#upload-pfp {
    width: 75px;
    position: absolute;
    left: 30%;
    bottom: 35%;
    z-index: 3;
}


/* EDIT END */


/* FORGOT-PASS START */
.forgot {
    background: linear-gradient(180deg, #9879C5 -9.79%, #D1A1BB 112.24%) fixed;
    height:100vh;
    display: flex;
    flex-direction: column;
}

#title-landing {
    font-family: 'Chewy';
    font-size: 5vh;
}

.appName {
    width: auto;
    height: 100%;
    text-align: center;
    align-items: center;
}

.appName p{
    width: auto;
    margin: 40px;
    font-size: 35px;
    color: white;
}
.landing form{
    text-align: center;
    align-items: center;
    margin: 0%;
}
.forgot form input {
    text-align: left;
    align-self: center;
    display: block;
    margin: auto;
}

#landing-button {
    margin: auto;
    margin-top: 40px;
    width: 622px;
    height: 80px;
    display: block;
    border-radius: 3px;
    border-width: 2px;
    border:solid 1px white;
    text-align: center;
    color: white;
    font-size: 35px;
    border-radius: 10px;
    background-color: transparent;
}

.landing .container{
    display: flex;
    flex-direction: row;
}

.back2base {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 100;
    object-fit: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 18px;
    margin-top: 10px;
}

.back-base {
    margin: 30px;
}






/* FORGOT-PASS END */

/* HOME START */
.page-header h1 {
    font-family: "Chewy";
    color: #9879C5;
    font-size: 90px;
    font-weight: 500;
    line-height: 150px;
    object-position: center;
    text-align: center;
}

#home-page {
    padding: 0;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    height: 5vh;
    align-content: center;
    background-color:  #f3f3f3 ;
    bottom: 0;
}

.option-btn {
    position: absolute;
    left: 94%;
    z-index: 0;
    height: 40px;
    top: 10px;
}

li {
    float: left ;
    display: block;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 24vw;
    text-decoration: none;
    border-right: 1px solid black;
    font-size: 2vh;
}

li:last-child{
    border-right: none;
}

.active {
    background-color: #D4D4D4;
}


/* Styling for the card creation button/pop up */ 
#add-card-btn{
    position: fixed;
    left: 84vw;
    top: 80vh;
    width: 8vh;
    height: 8vh;
    font-size: 5vh;
    border-radius: 100%;
    border: none;
    background-color: #9879C5;
    color: white;
}



.form-container{
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border:none;
    display: none;
    z-index: 10;
    position: fixed;
    background-color: #E5E5E5;
    height: 100%;
    top: 0;
    width: 100vw;
    
}

.small-input{
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: black;
    padding: 15px;
    width: 80vw;
    display: block;
    height: 4vw;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    top: 10vh;
    margin: 2.5vh ;

}


.userInput{
    text-align: center;
}

.small-input::placeholder{
    color: rgba(205, 93, 233, 0.5);
}

.large-input{
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: black;
    padding: 15px;
    width: 80vw;
    display: block;
    height: 4vw;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    top: 10vh;
    margin: 2.5vh ;

}

.large-input::placeholder{
    color: rgba(205, 93, 233, 0.5);
}

.card-bar{
    width:100% ;
    height: 6vh;
    background-color: white;
}

.del-button{
    height: auto;
    width: auto;
    font-size: 4.5vh;
    position: relative;
    left: 2vw;
    color:#9879C5;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    transform: rotate(-90deg);
}

.post-button{
    height: 4vh;
    font-size: 2vh;
    width: 15vw;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: relative;
    top: 1vh;
    background-color: #9879C5;
    color: white;
    border-radius: 75px;
}

/* Styling for the Cards */
.fonts{
    margin: 10px 10px 0px 10px;
    word-wrap: break-word;
    font-size: 3vh;
}

.card-template{
    width: 87vw;
    height: 14vh;
    max-width: 800px;
    min-height: 85px;
    background-color: white ;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.cardContainer{
    padding-top: 10vh;
}

.tag-pf-container{
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
}
.tag-container {
    word-wrap: break-word;
    max-width: 80%;
    display: flex;
    flex-direction: row;
}

.tag-container p{
    margin: 10px;
}

.card-template h1{
    width: 75%;
    font-size: 3vh;
    margin-top: 0px;
}

.card-template h2{
    width: 75%;
    font-size: 2vh;
    margin-top: 5px;
}
.card-template .description{
    width: 75%;
    font-size: 1.7vh;
    font-weight: 100;
    margin-top: 15px;
}


.pfp-pic{
    width: 7vw;
    height: 7vw;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    position: absolute;
    left: 85%;
    bottom: 5%;
    border: solid black; /* temp | only for visibility */
}

/* Modal Box/ Content CSS */

.modal{
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    bottom: -10px;
    box-shadow: 0 0 0 10000px #000000b0;
    left: 0px;
}

.modal-content{
    width: 100%;
    left: 25vw;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
}

.stuff {
    position: relative;
    height: 10vh;
    font-size: 3vh;
    width: 100%;
    height: 0.01%;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    align-content: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    border-bottom: 2px solid black;

}

.modal-content button:last-child{
    border-bottom: 2px solid black;
}

.modal-content button p{
    padding: 0%;
    margin-top: 1vh;
    margin-left: 10px;
    text-decoration: none;
    margin-bottom: 25px;
}

.stuff {
    margin-top: 25px;
    margin-left: 10px;
    text-decoration: none !important;
    color: black;
}

.modal-content button img,.stuff img{
    height: 100%;
    margin-left: 1vh;
    margin-right: 1vh;
}

/* Group Order Page  */

.group-card {
    width: 87vw;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border: 4px solid black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://thumbs.dreamstime.com/b/gradient-colors-design-geometric-background-landing-pages-banner-placeholder-print-gradient-colors-design-geometric-220980341.jpg');
}


/* Animation for w3schools */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  .dezoom {
      -webkit-animation: animatezoomout 0.6s;
      animation: animatezoomout 0.6s;
  }

  @-webkit-keyframes animatezoomout {
    from {-webkit-transform: scale(1)} 
    to {-webkit-transform: scale(0)}
  }
    
  @keyframes animatezoomout {
    from {transform: scale(1)} 
    to {transform: scale(0)}
  }

  /* Animation Slide in */

  .slide-in {
    -webkit-animation: slide-in 0.3s;
    animation: slide-in 0.3s;
  }

  @keyframes slide-in {
      0% {
          opacity: 0;
          transform: translateY(120vh);
      }

      100% {
          opacity: 1;
          transform: translateY(0vh);
      }
      
  }
  .slide-out {
    -webkit-animation: slide-out 0.3s;
    animation: slide-out 0.3s;
  }

  @keyframes slide-out {
      0% {
          opacity: 1;
          transform: translateY(0vh);
      }

      100% {
          opacity: 0;
          transform: translateY(120vh);
      }
  }

/* HOME END */


/* INDEX START */
.landing {
    background: linear-gradient(180deg, #9879C5 -9.79%, #D1A1BB 112.24%) fixed;
    height:100vh;
    display: flex;
    flex-direction: column;
}



.appName{
    color: black;
    font-family: 'Chewy', cursive;
    position: relative;
    width: auto;
    height: auto;
    font-size: 2vh;
    margin: 10px;
    text-align: center;
    top: 10vh;
}

.appName img {
    height: 250px;
    width:  250px;
}



#userEmail, #userPassword, #confirmPass {
    border-radius: 10px;
    border: 1px solid white;
    color:white;
    width: 600px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.15);
    position: relative;
    margin: 10px;
    margin-bottom: 40px;
    font-size: 35px;
    text-align: left;
    padding-left: 20px;
}

#accRecovery {
    border-radius: 10px;
    border: 1px solid white;
    color:white;
    width: 600px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.15);
    position: relative;
    margin: 10px;
    margin-bottom: 40px;
    font-size: 35px;
    text-align: left;
    padding-left: 20px;
}

.login-link-email {
    margin-left: 17.7%;
}

.login-link {
    margin: 0;
}

#accRecovery {
    margin: 0;
}

#userEmail::placeholder,
#userPassword::placeholder,
#confirmPass::placeholder,
#accRecovery::placeholder {
    color: white;
    text-align: left;
}

.userInfo form{
    align-items: center;
    margin-left: 0px;
}

#forgot-pass {
    bottom: 100px;
}


#login {
    margin: 0px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:15vh;
    text-align: center;
}

#noAcc {
    color: white;
    font-weight: normal;
    font-size: 2vh;
    text-align: left;
    width: 55vw;
    /*font-family: 'Roboto', sans-serif;*/
    text-decoration: none;
}

#noAcc a{
    color: white;
    font-weight: normal;
    font-size: 2vh;
    text-align: left;
    width: 55vw;
    /*font-family: 'Roboto', sans-serif;*/
    text-decoration: none;
}
.container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw
}

hr {
    padding: 0.05px;
    margin: 0.01px;
    height: 0px;
    width: 420px;
}

#or {
    padding: 1px;
    margin: 5px;
    font-size: 2vh;
}


h3 a{
    color: white;
    font-weight: normal;
    /*font-family: 'Roboto', sans-serif;*/   
    font-style: normal;
    line-height: 46px;
    font-size: 2vh;
    text-decoration: none;
}

#landing-logo {
    width: 315px;
    height: auto;
}

/* INDEX END */


/* TAROSTYLE START [PROFILE]*/
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.profile {
    background: #ffffff;
    width: 100%;
    position: relative;
}

#banner {
    height: 300px;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    /*
    border: 0px;
    margin: 0px;
    padding: 0px;
    z-index:-1;*/
}

#profilePic {
    height: 225px;
    width: 225px;
    border: 10px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    position: relative;
    bottom: 130px;
    left: 100px;
    z-index: 2;
}

#profileTop {
    width:100%;
    height: 500px;
    position: relative;
    bottom: 0px;
    top: -20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 1;
    border-style: hidden;
    /*background-color: white;*/
    background-color:rgb(255, 255, 255);
}

#edit-profile {
    text-align: center;
    viewport-fit: 50px;
    width: 300px;
    height: 50px;
    font-size: 40px;
    color:#9879C5;
    border: 3px solid #9879C5;
    border-radius: 40px;
    font-weight: normal;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 60px;
    right: 100px;
}

#edit-profile a {
    text-decoration: none;
    color:#9879C5;
}


#profileText {
    width: 800px;
    height: 120px;
    text-align: left;
    left: 50px;
    margin-bottom: 0px;
 
}

#displayName {
    width: 300px;
    height: 50px;
    font-size: 75px;
    position: absolute;
    top: 100px;
    left: 100px;
    font-weight: medium;
}

#user-handle {
    width: 300px;
    height: 30px;
    font-size: 27px;
    position: absolute;
    margin-left: 100px;
    font-weight: lighter;
    top:180px;
    color: #C1C1C1;
}
#user-at {
    font-weight: lighter;
}

#profileDescription {
    height: 200px;
    min-width: none;
    max-width: 1000px;
    font-size: 28px;
    position: absolute;
    top: 240px;
    left: 100px;
    right:200px;
    
}
 
#userStats{
    align-items: center;
    width: max-content;
}

#userStats ul {
    display: inline;
    text-align: left;
    width:fit-content;
    height:fit-content;
    margin-left: 100px;
   
}

.userStats strong {
    font-weight: bolder;
    font-size: 60px;
}


.userStats span {
    font-weight: lighter;
    font-size: 40px;
    color: #C1C1C1;
    background-color: rgb(255, 255, 255);
}

.profileTabs{
    
    height:80px;
    display:inline-flex;
    justify-content:center;
    width: 100%;
    bottom:-20px;
}

.profileTabs a{
    width:50%;
}

.profileTabs img {
    width: auto;
    height: 80%;
    margin-top:5px;
    margin-bottom: auto;
    margin-left:45%;
}

.profileTabs a:hover{
    background-color: #D4D4D4;
}
#profileCards {
    background-color: #EFEFEF;
}

#favoritesSection{
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
#favorites {
    color:#9879C5;
    font-size: 42px;
    display: inline;
 }

 #favoritesStar{
     height: 38px;
     margin-inline: 10px;
     margin-top: 20px;
     display: inline;
 }
 #favoritesLine{
    color: #9879C5;
    margin-inline: 10px;
}



/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex; 
    justify-content: center;
  }

  .navbar img {
      width: auto;
      height: 80px;
      margin-top: 40px;
      margin-bottom: 40px;
  }

  #navProfileIcon {
    margin-bottom: 10px;
}

  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 25%;
    height:160px;
    
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #D4D4D4;
    /*border: solid #9879C5;*/
    color: #9879C5;
  }
  
  /* Add a background color to the active link */
  .navbar a.active {
    background-color: #9879C5;
    color: black;
  }
  
  /* Hide the link that should open and close the navbar on small screens */
  .navbar .icon {
    display: none;
  }


#navProfileIcon {
  margin-bottom: 10px;
}

#edit-profile {
    font-size: 32px;
    font-weight: medium;
    border: solid 3px #9879C5;
    text-align: center;
    color: #9879C5;
    background-color: white;
    border-radius: 75px;
    height: 69px;
    width: 260px;
}

button #edit-profile {
    right: 100px;
}

/* TAROSTYLE END */

/* SEARCH START */
.search {
    background-color: none;
    height: 190px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    height: 100px;
    width: 90%;
    background-color: transparent;
    border-radius: 40px;/**/
    position: relative;/**/
    display: hidden;
}

.search-bar {
    width: 85%;
    height: 100px;
    display: block;
    background-color: white;
}

#user-search {
    border-radius: 40px;
    outline: none;
    padding-left: 110px;
}

.search-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background: transparent;
    border: none;
}

#search-icon {
    padding-left: 15px;
    padding-top: 5px;
    width: 65px;
}

/* SEARCH END */

/* NOTIFS START */
.requestElement {
    width: 100%;
    height: 225px;
    background-color: white;
    text-align: left;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.096), 0 1px 1px 0 rgba(0, 0, 0, 0.096);
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
}

.requestElement img {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    object-position: center;
    object-fit: cover;
    position: relative;
    top: 25px;
    left: 70px;
}

.requestElement h2 {
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    left: 260px;
    bottom: 115px;
}

.requestElement h3 {
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    font-weight: lighter;
    color: rgba(187, 185, 185, 0.795);
    position: relative;
    left: 255px;
    bottom: 110px;
}

.accept {
    height: 80px;
    width: 210px;
    background-image: url(./assets/add-button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 60px;
    background-color: rgb(152, 121, 197);
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    border-style: hidden;
    border-radius: 40px;
    float: right;
    bottom: 188px;
    margin-right: 120px;
}

.accept:hover {
    background-color: rgba(151, 121, 197, 0.863);
}

.deny {
    height: 40px;
    width: 40px;
    background-image: url(./assets/denyX.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    border: hidden;
    position: relative;
    float: right;
    bottom: 165px;
    background-color: white;
    left: 290px;
}

.deny:hover {
    background-image: url(./assets/denyXRed.png);
}



/* NOTIFS END */

/* Group Order Friends */

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 55px;
}

/* SETTINGS START */

.settings-spacer {
    /*background-color: red;/**/
    height: 110px;
    width: 100%;
}

.settings-spacer h3 {
    font-size: 38px;
    font-weight: 400;
    color: #C1C1C1;
    padding-top: 6%;
    padding-left: 3%;
}

.settings-tab {
    background-color: white;
    height: 125px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.199);
}

.settings-tab span {
    font-size: 55px;
    line-height: 125px;
    vertical-align: middle;
}

.settings-tab img {
    margin-left: 5%;
    margin-right: 3%;
    width: 60px;
    /*border: dotted black;/**/
    line-height: 125px;
    vertical-align: middle;
}

.settings-tab button {
    height: 125px;
    width: 125px;
    background-color: transparent;/**/
    border: none;
    outline: none;
    position: absolute;
    right: 0;
}

#logout {
    text-decoration: none;
}

#logout:visited {
    text-decoration: none;
    color: black;
}

#settings-arrow {
    width: 32px;
}

/* SETTINGS END */

/* EMAIL START */
.update {
    /*background-color: red;/**/
    height: 200px;
    width: 100%;
    padding-top: 8%;
    margin-bottom: 0;
    
}

.margin-update {
    margin-left: 6%;
    /*background-color: turquoise;/**/
}

.update h2 {
    font-size: 52px;
    font-style: bold;
}

.update p {
    font-size: 40px;
    font-weight: 400;
}

.change-info {
    /*background-color: tomato;/**/
    height: max-content;
    width: 100%;
}


.change-info label {
    font-size: 38px;
    font-weight: 400;
}

.settings-input {
    font-size: 36px;
    padding-left: 25px;
    border-radius: 10px;
    border: solid 2px #C1C1C1;
    outline: none;
    width: 91%;
}

.settings-input::placeholder {
    color: #C1C1C1;
}

/* EMAIL END */

/* PASSWORD START */
.checkbox-pwd {
    /*background-color: violet;/**/
    margin-top: 1%;/**/
}

#showPassword {
    height: 30px;
    width: 30px;
    position: relative;
}

/* PASSWORD END */