* {
    font-family: "Roboto";
}

.page-header {
    background-color: white;
    /*opacity: 0.5;/**/
    height: 150px;
    max-width: 100%;
    padding-left: 80px;
    /*position: fixed;/**/
    z-index: 2;
    /*border: dotted blue;/**/
}

.page-header span {
    color: #9879C5;
    font-size: 60px;
    font-weight: medium;
    line-height: 150px;
    vertical-align: middle;
}

.page-header img {
    margin-right: 5%;
    /*border: dotted black;/**/
    line-height: 150px;
    vertical-align: middle;
}

#banner {
    /*margin-top: 157px;/**/
    height: 300px;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    /*border-bottom-left-radius: -20px;
    border-bottom-right-radius: -20px;*/
    /*border: dotted 5px greenyellow;/**/
}

#profilePic {
    height: 225px;
    width: 225px;
    border: 10px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    position: relative;
    bottom: 130px;
    left: 100px;
    z-index: 2;
}

#profilePic:hover {
    background-color: black;
    opacity: 1;
}

.edit {
    /*margin-top: -5%;/**/
    background-color: white;
    /*border: dotted pink;/**/
    height: max-content;
    width: 100%;
    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;*/
    z-index: 1;
}

form {
    margin-left: 5%;
    font-size: 38px;
}

label {
    font-size: 38px;
}

input {
    width: 94%;
    height: 80px;
    display: block;
    object-position: center;
}

input[type=text] {
    font-size: 35px;
    border-radius: 10px;
    border: solid 2px #C1C1C1;
}

textarea {
    font-size: 35px;
    border-radius: 10px;
    width: 94%;
    height: 270px;
    border: solid 2px #C1C1C1;
}

input[type=submit] {
    margin-top: 20%;
    font-size: 35px;
    width: 95%;
    background-color: #9879C5;
    color: white;
    border: none;
    border-radius: 10px;
}