* {
    font-family: "Roboto";
}

html {
    background-color: #EFEFEF;
}

.page-header {
    background-color: lightseagreen;
    height: 157px;
    width: auto;
    padding-left: 100px;
    border: dotted blue;
}

.page-header span {
    padding: 0;
    color: #9879C5;
    font-size: 55px;
    font-weight: medium;
    border: dotted yellow;/**/
}

.page-header img {

    border: dotted black;/**/
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#banner {
    height: 300px;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}

#profilePic {
    height: 225px;
    width: 225px;
    border: 10px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    position: relative;
    bottom: 130px;
    left: 100px;
    z-index: 2;
}

body {
    background-color: white;
    border: dotted red;
}