doctype html
html
  head
    title Profile Page | Taro Cards
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='../TaroStyle.css')
  body
    img#banner(src='../coolWallpaper.png')
    section#profileTop
      img#profilePic(src='../WhatsApp Image 2020-09-11 at 11.06.06 AM.jpeg')
      h2#editButton Edit Profile
      section#profileText
        h2#displayName #{displayName}
        aside#username
          h3#userAt @#{username}
        br
        //  Max characters around 150 for description
        p#profileDescription #{bio}
          | 

      section#userStats.userStats
        ul
          strong 1,000 
          span Friends
        ul
          strong 1,000 
          span Cards
      section#profileTabs.profileTabs
        ul
          span Friends
        ul
          span Cards
    br
    section#profileCards
      section#favoritesSection
        img#favoritesStar(src='../nav-bar-icons/Star-Purple.png')
        span#favorites Favorites
        span#favoritesLine ------------------------------------------------------------------------------------------------
      div
        h4 Starbucks
        p Double Chocolately Chip Frappuccino
        p Just the basic drink
      br
      div
        h4 U Dessert Eats
        p Brown Sugar Milk Tea
        p With crystal boba
      br
      div
        h4 Happy Lemon
        p Salted Cheese Milk tea
        p 75% less ice and 75% sugar
    .navbar#myNavbar
      a(href='#')
        i.fa.fa-fw.fa-home
        img#navHomeIcon(src='../nav-bar-icons/Home-Icon.png')
      a(href='#')
        i.fa.fa-fw.fa-search
        img#navSearchIcon(src='../nav-bar-icons/Search-Icon.png')
      a(href='#')
        i.fa.fa-fw.fa-bell
        img#navNotifsIcon(src='../nav-bar-icons/Notifs-Icon.png')
      a.active(href='#')
        i.fa.fa-fw.fa-user
        img#navProfileIcon(src='../nav-bar-icons/ProfileIcon.png')
