doctype html
html
  head
    title Profile | Taro Cards
    link(rel='icon' href='../assets/TaroCardTransparent 1.png')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap' rel='stylesheet')
    // <link rel="stylesheet" href="TaroStyle.css">
    link(rel='stylesheet' href='../temp.css')
  body.profile
    div
      //  banner will pull from user DB 
      img#banner(src='coolWallpaper.png')
      button.settings-menu
        a(href='../settings-page/Settings_HTML.html')
          img#settings-menu(src='../assets/menu-white.png')
    section#profileTop
      //  pfp will pull from user DB 
      img#profilePic(src='../assets/WhatsApp Image 2020-09-11 at 11.06.06 AM.jpeg')
      button#edit-profile(type='button')
        a(href='..\editProfilePage\edit.html') Edit Profile
      section#profileText
        h2#displayName #{displayName}
        aside#user-handle
          h3#user-at @#{username}
        //  Max characters around 150 for description
        //  should pull real value from DB in final version 
        p#profileDescription #{bio}
          // Just a weeb who enjoy's the occasional dose of sugary drinks.
          | 

      .user-stats
        .stat
          button.to-friends
            a(href='../friendsPage/Friends_Page.html')
              p
                | 1000

                span Friends
        .stat
          p
            | 1000

            span Cards
      .tabs
        .my-tab
          img#addCard(src='../assets/add-card.png')
        .my-tab
          img#groupOrder(src='../assets/group-order.png')
      //
        
                    <section id="userStats" class="userStats">
                        <ul class="stats">
                            <strong> 1,000 </strong>
                            <span> Friends</span>
                        </ul>
                        <ul class="stats">
                            <strong>1,000 </strong>
                            <span> Cards</span>
                        </ul>
                    </section>
      //
         <section id="profileTabs" class="profileTabs">
                        <a class="active" href="#" class="hover">
                            <img id="addCard" src="..\assets\add-card.png" />
                        </a>
                        <a class="active" href="#" class="hover">
                            <img id="groupOrder" src="..\assets\group-order.png" />
                        </a>
                    </section> 
    section#profileCards
      #favoritesSection
        img#favoritesStar(src='..\assets\star-Purple.png')
        p#favorites Favorites
        hr(style='width: 100%; height: 0.1px;')
      #cardContainer
        //  Card Template: Gives the formatting of what a card would look like 
        //  each div should have card-template class on it 
        template#card-template
        .card-container.
          
          
      button#add-card-btn(alt='add card button') +
                    
    .navbar#myNavbar
      a(href='../homePage/home.html')
        img#navHomeIcon(src='../assets/home.png')
      a(href='../SearchUsers/SearchUsers.html')
        img#navSearchIcon(src='../assets/search.png')
      a(href='../Notifications/Notifications.html')
        img#navNotifsIcon(src='../assets/notifs.png')
      a.active(href='#')
        img#navProfileIcon(src='../assets/profile.png')
    script(src='../homepage/homepage.js' type='text/javascript')
