* {
    margin: 0;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    min-width: 1060px;
}


.innerBody {
    background-color: rgba(238, 238, 238, 0.712);
    height: 100%;
    margin: auto;
    width: 100%;
    text-align: center;
    border-style: hidden;
}

.titleCard {
    width: 100%;
    height: 150px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.199);
    z-index: 1;
    position: fixed;
    top: 0px;
}

.titleCard h1 {
    font-weight: lighter;
    font-size: 58px;
    color: rgb(152, 121, 197);
    height: fit-content;
    width: fit-content;
    position: relative;
    left: 95px;
    top: 40px;
}

#back {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 23px;
    left: 60px;
}

#searchBar {
    height: fit-content;
    font-weight: lighter;
    color: rgb(95, 94, 94);
    width: 90%;
    font-size: 50px;
    border-style: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    margin: auto;
    margin-top: 40px;
    border-radius: 30px;
    /* background-image: url(./search.png);
    background-repeat: no-repeat;
    background-size: 85px, 85px; */
}

#searchBarButton {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 0px;
    background: rgb(152, 121, 197);
    color: rgb(2, 2, 2);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    position: relative;
    left: 39vw;
    bottom: 105px;
}

#friendsAll {
    margin-bottom: 150px;
}

.friendElement {
    width: 97%;
    height: 225px;
    background-color: white;
    text-align: left;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.096), 0 1px 1px 0 rgba(0, 0, 0, 0.096);
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
}

.friendElement img {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    object-position: center;
    object-fit: cover;
    position: relative;
    top: 25px;
    left: 70px;
}

.friendElement h2 {
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    left: 260px;
    bottom: 115px;
}

.friendElement h3 {
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    font-weight: lighter;
    color: rgba(187, 185, 185, 0.795);
    position: relative;
    left: 255px;
    bottom: 110px;
}

#letterHeading {
    color: rgb(146, 106, 255);
    height: fit-content;
    width: fit-content;
    font-weight: lighter;
    font-size: 50px;
    position: relative;
    margin-top: 80px;
    left: 30px;
    bottom: 10px;
}

#headingLine {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid rgb(146, 106, 255);;
    padding: 0;
    position: relative;
    bottom: 40px;
    left: 80px;
    width: 90%;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    display: flex; 
    justify-content:center
  }

  .navbar img {
      width: auto;
      height: 80px;
      margin-top: 40px;
      margin-bottom: 40px;
  }

  #navProfileIcon {
    margin-bottom: 10px;
}

  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 25%;
    height:160px;
    
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #D4D4D4;
    /*border: solid #9879C5;*/
    color: #9879C5;
  }
  
  /* Add a background color to the active link */
  .navbar a.active {
    background-color: #9879C5;
    color: black;
  }
  
  /* Hide the link that should open and close the navbar on small screens */
  .navbar .icon {
    display: none;
  }


#navProfileIcon {
  margin-bottom: 10px;
}