* {
    margin: 0;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgba(238, 238, 238, 0.712);
    width: 100%;
    height: 100%;
    text-align: left;
}

#back {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 23px;
    left: 60px;
}

.titleCard {
    width: 100%;
    height: 150px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.199);
    z-index: -1;
}