* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgba(238, 238, 238, 0.712);
    width: 100%;
    height: 100%;
    text-align: left;
}

#back {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 23px;
    left: 60px;
}

.titleCard {
    width: 100%;
    height: 150px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.199);
    z-index: -1;
}

#updateHeading {
    margin-left: 4%;
    font-size: 35px;
    font-weight: bolder;
}

#currentHeading {
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    font-weight: lighter;
}

#current {
    height: fit-content;
    padding: 10px;
    font-size: 30px;
    margin: auto;
    display: block;
    margin-top: 100px;
    width: 90%;
}

#new {
    height: fit-content;
    padding: 10px;
    font-size: 30px;
    margin: auto;
    display: block;
    margin-top: 100px;
    width: 90%;
}

#confirm{
    height: fit-content;
    padding: 10px;
    font-size: 30px;
    margin: auto;
    margin-top: 100px;
    display: block;
    width: 90%;
}

.changeTemplate label {
    display: block;
    position: relative;
    top: 90px;
    left: 4%;
    font-size: 30px;
    font-weight: normal;
    text-align: left;
    width: fit-content;
} 

.changeTemplate {
    text-align: right;
}

#saveChanges {
    height: fit-content;
    width: fit-content;
    padding: 20px;
    font-size: 30px;
    margin-top: 30px;
    margin-right: 4%;
    background-color: rgb(152, 121, 197);
    color: white;
    border: hidden;
    border-radius: 20px;
}

#errorText {
    color: red;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 15px;
}