title {
    color: black;
}

html {
    background-color: #EFEFEF;
    width: 100vw;
}

head {
    border: solid blue;
}

.banner {
    display: inline-block;
    position: relative;
    width: auto;/**/
    height: 325px;
    overflow: hidden;
    margin-top: -300px;
    z-index: 1;
}

.banner img {
    margin-top: -10%;
    position: relative;
    z-index: 1;
    /*display: none;/**/
}

body {
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 408px;
    width: 100vw;
    margin-top: 312px;/**/ 
    z-index: 5;
    position: relative;
    border: solid black;
}


.profile-info {
    padding-left: 80px;
    position: relative;
    width: 100vw;
    /*margin-left: 80px;/**/
    /*border: solid black;*/
}

/*Title*/
h1 { 
    font-family: "Chewy";
    font-size: 99px;
    color: #9879C5;
    background-color: #FFFFFF;
    text-align: center;
    height: 157px;
    position: relative;
}

/* DISPLAY NAME*/
h2 {
    font-size: 50px;
    font-weight: medium;
    line-height: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: relative;
    /*border: solid red;/**/
}

/* USERNAME */
h6 {
    font-size: 25px;
    color: #C1C1C1;
    font-weight: lighter;
    line-height: 40px;
    margin-top: 0px;
    /*border: solid blue;/**/
}

.names {
    font-family: "Roboto";
    height: 100px;
    position: relative;
}

/* BIO */
h3 {
    font-family: "Roboto";
    font-size: 30px;
    text-align: left;
    margin: 0px;
    font-weight: normal;
}

.bio {
    height: 80px;
    margin-top: 120px;
    position: relative;
    /*border: solid orange;/**/
}

/* COUNT */
h4 {
    font-family: "Roboto";
    font-size: 47px;
    display: inline-block;
    margin-right: 10px;
    /*border: solid red;/**/
}

/* COUNT LABEL */
h5 {
    font-family: "Roboto";
    font-size: 32px;
    color: #C1C1C1;
    font-weight: normal;
    display: inline-block;
    /*border: solid darkgreen;/**/
}

.counters {
    clear: both;
    margin-top: -50px;
    height: 45px;
    position: relative;
    /*border: solid rgb(82, 137, 189);/**/
}

.friends {
    position: relative;
    display: inline-block;
    margin-right: 250px;
}

.cards {
    position: relative;
    display: inline-block;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 225px;
    height: 225px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: -40px;
    margin-top: -140px;
    border: 10px solid #FFFFFF;
    z-index: 5;
  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -30%;
    position: relative;
  }


